table
{
    border: 5px solid black;
    border-collapse: collapse;
}

tr
{
    vertical-align: center;
    text-align: center;
}

th
{
    background-color: gray;
    padding: 10px;
    vertical-align: center;
    text-align: center;
}

td
{
    border: 2px solid black;
    padding: 5px;
}

tr:hover
{
    background-color: yellowgreen;
}