.link_clicked
{
    font-size: 5cm;
}

/*Link que ainda não foi visitado*/
a:link
{
    color: red;
}

/* Link que já foi visitado*/
a:visited
{
    color: crimson;
}

/*Ativo quando o usuário está com o mouse sobre o link*/
a:hover
{
    color: black
}

/*Ativo quando o usuário clica no link*/
a:active
{
    color: fuchsia;
}